html
{
    background-image: url(bg3.avif);
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1{
    font-size: 40px;
    text-align: center;
    text-decoration-line: underline;
    color: darkslategrey;
    font-style: oblique;
}
img{
    height: 150px;
    width: 150px;
    margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 50%;

}
p
{
    text-align: initial;
    text-align: center;
    font-size: 20px;
    
    
    
}
.ok
{
font-size: 20px;
font-style: italic;
text-align: left;
}
h2{
    font-style: oblique;
    text-align: center;
}
.lok
{
    text-align: center;
    font-size: 30px;
}

a{
    text-align: center;
}